{% extends "run_stats/base.html" %}
{% load bootstrap5 %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Sign up</h3>
                    <form method="POST" action="{% url 'users:register' %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        {% buttons submit='register' %} {% endbuttons %}

                        <input type="hidden" name="next" value="{% url 'run_stats:index' %}"/>

                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    Already have an account? <a href="{% url 'users:login' %}">Log in</a>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}