{% extends "run_stats/base.html" %}

{% block content %}

<p>Splits:</p>    
    
<form class ="split-form" action="{% url 'run_stats:add_splits' run.id %}" method="post">
    {% csrf_token %}
    {% if formset %}
    {{ formset.management_form }}
    <div id="split-form-list">
        {{ formset.as_p }}
        <button type="submit" onsubmit="submitForms()">save</button>
        <button name="add_split" type="button" onclick="addSplit()">Add split</button>
    </div>
    {% endif %}
            
</form>

    <div class="hidden" id="empty-form" value="" name="split-times">
        {% if formset %}
            {{ formset.empty_form }}
        {% endif %}
    </div>
    
{% endblock content %}