<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>
    <a href="{% url 'run_stats:index' %}">Home</a> -
    <a href="{% url 'run_stats:runs' %}">My runs</a> -
    {% if user.is_authenticated %}
        Welcome, {{ user.username }}.
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:register' %}">register</a> -
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>
{% block content %} {% endblock content %}
</body>
</html>
