.split-form {
    padding: 10px;
    margin: 10px;
}

.split-form-list {
    padding: 10px;
    max-width: 300px;
    margin: auto;
}

.hidden {
    display: none;
}

.card {
    padding: 5px 10px 5px 10px;
    margin: 10px;
}

.run-form {
    max-width: 350px;
    margin: auto;
    padding: 10px;
}

.button-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}
